/* viola: #9542f5
viola scuro: #6d2bba
viola scurissimo: #491782 */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9542f5;
  color: white;
  font-family: 'Quicksand', sans-serif;

}
/* DEBUG: */
/* div {
  border: 1px solid black;
} */
/* DEBUG:  */

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */

#header {
  background: black;
}

  #cont-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 150px;
  }

  /* sx header */

  #logo {
    display: flex;
    flex-direction: row;
    width: 35%;
    padding: 20px 0;
    justify-content: flex-start;
    align-items: center;
  }

    #logo i {
      font-size: 6em;
      padding-right: 50px;
    }

    #logo div {
      font-size: 4em;
    }

  /* dx header */

  #profile {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
    text-align: right;
  }

    #profile i {
      padding-left: 10px;
    }

/* MAIN */

#main {
  height: calc(100vh - 150px);
  overflow: scroll;
}

.main-interno {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

  #first-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: 100px;
  }
    #distanza p, #età p {
      padding-left: 30px; 
      color: grey
    }

    #distanza, #età {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 50px;
      background: white;
      border: 1px solid black;
      border-radius: 10px;
    }

  #second-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }

      #prezzopieno, #sconto, #totaledapagare {
        width: 100%;
        height: 40px;
      }

      #totaledapagare {
        font-size: 2em;
      }

#code {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}

/*  */
